@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,900;1,700&family=Romanesco&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #E5E5E5;
}

/* Titres */
nav, h1, h2, h3, h4{
    font-family: 'Romanesco', cursive;
}

h1{
    font-size: 40px;
    flex-wrap: wrap;
    padding-left: 5%;
    height: 50px;
}

h2{
    font-size: 60px;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 1rem;
    transition: 0.5s;
    text-align: center;
}

h2:hover{
    color:rgb(124, 157, 250);
    transition: 0.3s;
    transform: scale(1.3);
}

h3{
    font-size: 40px;
    text-align: center;
    transition: 0.5s;
}

h3:hover, h4:hover{
    color: rgb(124, 157, 250);
    transition: 0.5s;
}

h4{
    font-size: 30px;
    text-align: center;
    margin-top: 2rem;
}

/* Navbar */

nav {
    position: fixed;
    background-color: #4B4B4B;
    height: 3rem;
    width: 100vw;
    box-shadow: 8px 0 10px 0 #4b4b4bc9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav h1, nav a{
    color: #E5E5E5;
    display: inline-flex;
}

nav a{
    text-decoration: none;
    margin-right: 5rem;
    font-size: 26px;
}
.logo-mobile{
    display: none;
}

.lien a p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.lien :hover{
    color:rgb(124, 157, 250);
    transition: 0.3s;
    transform: scale(1.3);
}

/* Qui suis-je ? */

#suis{
    color: #4B4B4B;
    padding-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#suis img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.moi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
    font-size: 2rem;
}

.moi img{
    height: 30%;
    width: 30%;
}

.moi p{
    width: 60%;
}
/* Compétence */

#competence{
    background-color: #4B4B4B;
    color:#E5E5E5;
}

#competence h2{
    margin-bottom: 2rem;
}

.competence-img{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.competence-img img{
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

/*Creation*/

#creation{
    background-color: #E5E5E5;
    color: #4B4B4B;
}

#creation h2{
    margin-left: auto;
}

.creation-site-img img{
    width: 150px;
    height: auto;
    margin-left: 5%;
    margin-bottom: 2rem;
    align-items: center;
    display: flex;
}

.creation-site-img{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.colo-only, .linecolo-img{
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    gap: 10px;
}

.colo-only img{
    width: 350px;
    height: auto;
}

.linecolo-img img{
    height: 350px;
}

/*Coordonées*/

#coordonees{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #4B4B4B;
}

.titre{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 15rem;
    width: 80%;
}

.poste, .numerique, .cv{
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 7rem;
    width: 15rem;
    margin: 1rem;
    padding: 1rem;
}

.cv{
    padding-top: 2.5rem;
}

.poste{
    background: url(./img/papier.jpg);
    background-size:cover;
}

.numerique{
    background:url(./img/nuemrique.jpg);
    background-size: cover;
}

.cv{
    text-align: center;
    background: #E5E5E5;
    font-size: 150%;
}

.cv a{
    text-decoration: none;
    color: #4B4B4B;
}

/*Footer*/

.reseaux{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E5E5E5;
}

.reseaux img{
    height: 50px;
    width: 50px;
}

.transition-bn{
    height: 10px;
     background: linear-gradient(180deg, #E5E5E5 0%, #4B4B4B 100%);;
}

.transition-nb{
    height: 10px;
     background: linear-gradient(360deg, #E5E5E5 0%, #4B4B4B 100%);;
}

@media screen and (max-width: 600px) {
    nav{
        display: flex;
        justify-content: space-around;
        position: fixed;
        height: fit-content;
        width: 100vw;
        background-color: rgba(29, 29, 29, .8) ;

    }

    nav h1{
        display: none;
    }

    nav .logo-mobile{
        display: block;
    }

    .lien {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #suis{
        display: flex;
        flex-direction: column;
    }

    h2{
        margin-top: 12%;
    }

    .moi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .moi img{
        padding-bottom: 50px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: fit-content;
        width: 80%;
    }


}
